:root{
  --texts-texts-basic:rgb(0 0 0);
  --texts-second:rgb(51 51 51);
  --texts-background-default:rgb(255 255 255);
  --texts-background-small:rgb(255 255 255 / 0.3);
  --texts-error:rgb(255 87 87);
  --buttons-basic:rgb(117 97 87);
  --buttons-second:rgb(130 179 211);
  --buttons-select:rgb(125 181 79);
  --background-basic-2:rgb(255 255 255);
  --background-basic-3:rgb(130 179 211);
  --background-second-1:rgb(131 179 211 / 0.12);
  --background-second-2:rgb(131 179 211 / 0.2);
  --icons-basic:rgb(0 0 0);
  --icons-second:rgb(131 179 211);
  --icons-text:rgb(125 181 79);
  --forms-inputs:rgb(63 94 114);
  --forms-elements-1:rgb(229 229 229);
  --forms-elements-2:rgb(242 242 242);
}
