/* buttons */


/*
Текстовые стили
button-600: heading-4
button-500: text-button-big
button-400: text-button-small
button-pagination: text-button-big
*/

.button {  /* общие правила */
  border: 0;
  color: var(--background-basic-2);
  text-align: center;
}

.button-600 { /* размер большой */
  border-radius: 10px;
  padding: 18px 50px;
}

.button-500 {  /* размер средний */
  border-radius: 4px;
  padding: 8px 50px;
}

.button-400 {  /* размер маленький */
  border-radius: 4px;
  padding: 8px 34px;
}

.button-pagination { /* размер для пагинации */
  color: var(--texts-texts-basic);
  padding: 12px 16px;
  width: 60px;
}

.button-blue { /* стиль голубой */
  background-color: var(--buttons-second);
}

.button-blue:hover {
  background-color: var(--buttons-blue-hover);
  cursor: pointer;
}

.button-blue:active {
  background-color: var(--buttons-second);
  color: var(--texts-background-small);
}

.button-blue:focus {
  background-color: var(--buttons-blue-hover);
}

.button-brown { /* стиль коричневый */
  background-color: var(--buttons-basic);
}

.button-brown:hover {
  background-color: var(--buttons-brown-hover);
  cursor: pointer;
}

.button-brown:active {
  background-color: var(--buttons-basic);
  color: var(--texts-background-small);
}

.button-brown:focus {
  background-color: var(--buttons-brown-hover);
}

.button-green { /* стиль зеленый */
  background-color: var(--buttons-select);
}

.button-green:hover {
  background-color: var(--buttons-green-hover);
  cursor: pointer;
}

.button-green:active {
  background-color: var(--buttons-select);
  color: var(--texts-background-small);
}

.button-green:focus {
  background-color: var(--buttons-green-hover);
}

.button-transparent { /* стиль прозрачный */
  background-color: transparent;
}

.button-transparent:hover {
  opacity: 60%;
  cursor: pointer;
}

.button-transparent:active {
  color: var(--texts-background-small);
}

.button-transparent:focus {
  border: 3px solid;
}

.button-grey { /* стиль серый */
  background-color: var(--forms-elements-2);
}




/* checkbox */


.control { /* input+label */
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

.control-input { /* сам контрол */
  background-color: var(--background-basic-2);
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
}
