/* button */


/*
Текстовые стили
button-600: text-button-big
button-500: text-button-big
button-400: text-button-small
button-pagination: text-button-big
*/

.button {  /* кнопка, базовые параметры */
  text-align: center;
  color: var(--text-primary-invert);
  border: 3px solid transparent;
  outline: none;
}

.button-600 { /* размер большой */
  padding: 9px 47px;
  border-radius: 10px;
}

.button-500 {  /* размер средний */
  padding: 5px 47px;
  border-radius: 4px;
}

.button-400 {  /* размер маленький */
  padding: 5px 33px;
  border-radius: 4px;
}

.button:active { /* текст светлеет при нажатии */
  color: var(--text-secondary-invert);
}

.button-blue { /* стиль голубой */
  background-color: var(--main-blue);
}

.button-blue:hover {
  background-color: var(--main-blue-hover);
  cursor: pointer;
}

.button-blue:active {
  background-color: var(--main-blue);
}

.button-blue:focus {
  background-color: var(--main-blue-hover);
  outline: none;
}

.button-blue:focus-visible {
  background-color: var(--main-blue-hover);
  outline: none;
}

.button-blue:disabled {
  background-color: var(--buttons-disabled);
}

.button-brown { /* стиль коричневый */
  background-color: var(--main-brown);
}

.button-brown:hover {
  background-color: var(--main-brown-hover);
  cursor: pointer;
}

.button-brown:active {
  background-color: var(--main-brown);
  border: 3px solid transparent;
}

.button-brown:focus {
  background-color: var(--main-brown-hover);
  outline: none;
}

.button-brown:focus-visible {
  background-color: var(--main-brown-hover);
  outline: none;
}

.button-brown:disabled {
  background-color: var(--buttons-disabled);
}

.button-green { /* стиль зеленый */
  background-color: var(--main-green);
}

.button-green:hover {
  background-color: var(--main-green-hover);
  cursor: pointer;
}

.button-green:active {
  background-color: var(--main-green);
}

.button-green:focus {
  background-color: var(--main-green-hover);
}

.button-green:focus-visible {
  background-color: var(--main-green-hover);
}

.button-green:disabled {
  background-color: var(--buttons-disabled);
}

.button-transparent-invert { /* стиль прозрачный */
  background-color: transparent;
}

.button-transparent-invert:hover {
  opacity: 60%;
  cursor: pointer;
}

.button-transparent-invert:active {
  color: var(--text-secondary-invert);
}

.button-transparent-invert:focus {
  outline: none;
}

.button-transparent-invert:focus-visible {
  border: 3px solid var(--main-blue);
}

.button-transparent-invert:disabled {
  opacity: 10%;
}


/* modal-close-button */


.modal-close-button { /* кнопка закрытия модального окна */
  position: absolute;
  top: 64px;
  right: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: var(--main-gray);
  border: 3px solid transparent;
  border-radius: 50%;
  outline: none;
}

.modal-close-button:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: var(--main-gray-hover);
}

.modal-close-button:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.modal-close-button:active .icon {
  opacity: 30%;
}

.modal-close-button .icon {
  fill: var(--icon-primary);
}


/* pagination */


.button-pagination { /* размер для пагинации */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
}

.button-pagination:hover {
  cursor: pointer;
}

.button-pagination-grey { /* стиль серый */
  background-color: var(--main-gray);
}

.button-pagination-white { /* стиль белый */
  background-color: var(--main-primary);
}

.button-pagination-blue { /* стиль голубой */
  color: var(--text-primary-invert);
  background-color: var(--main-blue);
}

.button-pagination-blue:hover {
  background-color: var(--main-blue-hover);
  border: 1px solid var(--main-blue);
}

.button-pagination-blue:active {
  background-color: var(--main-blue);
  color: var(--text-secondary-invert);
}

.button-pagination-blue:focus-visible {
  background-color: var(--main-blue-hover);
  border: 1px solid var(--main-blue);
}

.button-pagination:disabled {
  opacity: 50%;
}


/* breadcrumbs */


.breadcrumbs { /* контейнер с крошками */
  display: flex;
  align-items: center;
  gap: 10px;
  height: 22px;
  margin-left: -2px;
}

.breadcrumbs-link:link { /* ссылка-текст */
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-primary-invert);
  outline: none;
}

.breadcrumbs-icon { /* ссылка-иконка */
  display: flex;
  fill: var(--text-primary-invert);
  outline: none;
}

.breadcrumbs-link:visited {
  color: var(--text-primary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-page-name:hover,
.breadcrumbs-item:not(:last-child) .breadcrumbs-icon:hover {
  opacity: 60%;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active,
.breadcrumbs-item:not(:last-child) .breadcrumbs-icon:active {
  opacity: 60%;
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus-visible,
.breadcrumbs-item:not(:last-child) .breadcrumbs-icon:focus-visible {
  color: var(--text-primary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after { /* стрелка вправо после ссылки */
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 20px;
  background-image: url(../images/vector/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--icon-primary-invert);
  cursor: default;
}

.breadcrumbs-page-name { /* выравнивает текст отноистельно иконок */
  margin-bottom: 1px;
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover { /* последняя ссылка c курсором стрелкой */
  cursor: default;
}


/* tabs */


.tab:link { /* неактивный пункт */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--main-primary);
  border: 2px solid var(--main-disabled);
  border-radius: 4px;
  outline: none;
}

.tab:visited {
  border: 2px solid var(--main-disabled);
}

.tab:hover {
  border: 2px solid var(--icon-primary);
}

.tab:active {
  border: 2px solid var(--icon-primary);
}

.tab:focus-visible {
  border: 2px solid var(--icon-secondary-hover);
  outline: none;
}

.tab:disabled {
  opacity: 50%;
}

.tab-current { /* активный пункт */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--main-primary);
  border: 2px solid var(--icon-primary);
  border-radius: 4px;
  outline: none;
}


/* label */


label:hover { /* лапка на лейбле формы */
  cursor: pointer;
}


/* control - чекбокс/радио + лэйбл */


.control {
  cursor: pointer;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}


/* checkbox */


.custom-checkbox { /* скрывает нативный чекбокс */
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label-control { /* контейнер с кастонмым чекбоксом (псевдо элементом) и лейблом */
  display: flex;
  align-items: center;
  gap: 16px;
}

/* кастомный чекбокс */

/* default */

.custom-checkbox + .label-control::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--main-primary);
  background-position: center;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
}

.custom-checkbox:hover + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-checkbox:focus + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-checkbox:focus-visible + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-checkbox:active + .label-control::before {
  box-shadow: 0 7px 15px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-checkbox:disabled + .label-control::before {
  opacity: 50%;
}

/* checked */

.custom-checkbox:checked + .label-control::before {
  background-image: url(../images/vector/icons/confirm.svg);
}

.custom-checkbox:checked:disabled + .label-control::before {
  opacity: 50%;
}


/* radio */


.custom-radio { /* скрывает нативный радио */
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label-control { /* контейнер с кастонмым чекбоксом (псевдо элементом) и лейблом */
  display: flex;
  align-items: center;
  gap: 16px;
}

/* кастомный radio */

/* default */

.custom-radio + .label-control::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: var(--main-primary);
  background-position: center;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
}

.custom-radio:hover + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-radio:focus + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-radio:focus-visible + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-radio:active + .label-control::before {
  box-shadow: 0 7px 15px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-radio:disabled + .label-control::before {
  opacity: 50%;
}

/* checked */

.custom-radio:checked + .label-control::before {
  background-image: url(../images/vector/icons/circle.svg);
}

.custom-radio:checked:disabled + .label-control::before {
  opacity: 50%;
}


/* input field */


/*
Текстовые стили
filled: text-input
*/


.field { /* поле, базовые параметры */
  height: 48px;
  margin: 0;
  padding: 9px 15px;
  color: var(--text-primary);
  background-color: var(--main-gray);
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
}

.field:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.field:focus {
  background-color: var(--main-gray-hover);
}

.field:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.field:disabled {
  background-color: var(--main-gray);
  opacity: 50%;
}

.field:disabled:hover {
  background-color: var(--main-gray);
  opacity: 50%;
}

.field::placeholder {
  color: var(--text-secondary);
}

.input-field-caption { /* input-field + caption */
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-field-caption-error { /* текст ошибки под полем */
  padding: 0 20px;
  color: var(--text-error);
}

.input-field-caption-caption { /* текст подписи под полем */
  padding: 0 20px;
  color: var(--text-secondary);
}

.input-field-caption-none { /* без подписи под полем */
  display: none;
}


/* input field - subscribe */


.subscribe-email-field { /* поле email, базовые параметры */
  margin: 0;
  padding: 11px 17px;
  color: var(--text-primary);
  background-color: var(--main-gray);
  border-radius: 4px 0 0 4px;
  border: 3px solid transparent;
  outline: none;
}

.subscribe-email-field:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.subscribe-email-field:focus {
  background-color: var(--main-gray-hover);
}

.subscribe-email-field:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.subscribe-email-field:disabled {
  background-color: var(--main-gray);
  opacity: 50%;
}

.subscribe-email-field:disabled:hover {
  background-color: var(--main-gray);
  opacity: 50%;
}

.subscribe-email-field::placeholder {
  color: var(--field-placeholder-primary);
}

.subscribe-email-field:invalid::after { /* поле с ошибкой */
  content: 'Текст ошибки';
  color: var(--text-error);
}

.subscribe-email-field:focus:invalid::after {
  content: 'Текст ошибки';
  color: var(--text-error);
}


/* input-date */


/* кастомная иконка календаря */

input[type=date]::-webkit-calendar-picker-indicator {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url(../images/vector/icons/calendar.svg);
  background-position: center;
  background-repeat: no-repeat;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}


/* select */


.select { /* селект, базовые параметры */
  width: 292px;
  height: 48px;
  margin: 0;
  padding: 0 15px;
  color: var(--text-primary);
  background-image: url(../images/vector/icons/discloser.svg);
  background-position: center right 12px;
  background-repeat: no-repeat;
  background-color: var(--main-primary);
  border: 2px solid var(--main-disabled);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Mozilla */
  -ms-appearance: none; /* IE */
}

.select:hover {
  border: 2px solid var(--main-blue);
}

.select:focus {
  border: 2px solid var(--main-disabled);
}

.select:focus-visible {
  border: 2px solid var(--main-blue);
}

.select:focus-visible:hover {
  border: 2px solid var(--main-blue);
}

.select:active {
  border: 2px solid var(--main-disabled);
}

.select:disabled {
  color: var(--field-placeholder-secondary);
  border: 2px solid var(--field-placeholder-secondary);
}


/* input-field-range (input number, работающие совместно с range ) */


/* убирает нативные кнопки из поля */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}


/* input-field-counter (input number, управляемый кнопками плюс и минус) */


.input-field-counter { /* числовое поле + кнопки плюс и минус */
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.input-field-number { /* числовое поле ввода */
  border-radius: 0;
  width: 100%;
  padding: 9px 0;
  text-align: center;
}

.input-number-change-button { /* кнопки плюс и минус */
  display: inline-block;
  height: 48px;
  padding: 9px;
  background-color: var(--main-gray);
  border: none;
  outline: none;
}

.input-number-change-button:hover {
  cursor: pointer;
}

.input-number-change-button .icon { /* иконка кнопки */
  display: flex;
  width: 22px;
  height: 22px;
  fill: var(--icon-primary-active);
  border: 2px solid transparent;
}

.input-number-change-button:hover .icon {
  fill: var(--icon-primary);
}

.input-number-change-button:focus-visible .icon {
  fill: var(--icon-primary);
  border: 2px solid var(--focus);
}

.input-number-change-button:disabled .icon {
  opacity: 10%;
}


/* tooltip */


.tooltip { /* контейнер со скрытым тултипом */
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  margin-right: 28px;
}

.tooltip-toggle { /* кнопка, раскрывающая тултип */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-color: var(--main-blue);
  border: none;
  border-radius: 50%;
  outline: none;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: var(--main-blue-hover);
  cursor: pointer;
}

.tooltip-icon { /* иконка в кнопке тултипа */
  width: 20px;
  height: 20px;
  fill: var(--icon-primary-invert);
}

.tooltip-description { /* подсказка */
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  width: 256px;
  margin-top: 15px;
  padding: 18px 18px 24px 22px;
  color: var(--text-primary-invert);
  background-color: var(--main-dark);
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip:hover .tooltip-description, /* показывает подсказку по наведению */
.tooltip:focus .tooltip-description,
.tooltip:focus-visible .tooltip-description {
  display: block;
  cursor: default;
}

.tooltip-description::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 20px;
  height: 9px;
  background-image: url(../images/vector/icons/tooltip-triangle.svg);
  transform: translateX(-50%);
}


/* input-range */


.range {
  width: 288px;
  height: 4px;
  background-color: var(--range);
}

.range-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4px;
  margin-left: 0;
  margin-right: 20%;
  background-color: var(--main-primary);
}

.range-track::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  border-radius: 5px;
  }

.range-track::before:hover {
  cursor: pointer;
}

.range-track::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  border-radius: 5px;
}

.range-track::after:hover {
  cursor: pointer;
}
