@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* headings */


.heading-1 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 78px; /* 130% */
  font-weight: 700;
}

.heading-2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px; /* 120% */
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3-non-case {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
  font-weight: 700;
}

.heading-4 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px; /* 120% */
  font-weight: 700;
}


/* inputs */


.text-button-big {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px; /* 180% */
  font-weight: 700;
  text-transform: uppercase;
}

.text-button-small {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 700;
  text-transform: uppercase;
}

.text-button-like-normal {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 400;
  text-transform: uppercase;
}

.text-button-like-nonecase {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 400;
}

.text-checkbox {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 127.778% */
  font-weight: 400;
}

.text-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
  font-weight: 700;
}


/* text */


.text-phone {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px; /* 100% */
  font-weight: 400;
  text-transform: uppercase;
}

.text-blocks {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  font-weight: 400;
}

.text-small {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px; /* 131.25% */
  font-weight: 400;
}

.text-basic {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px; /* 118.182% */
  font-weight: 400;
}

.text-input-light {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
  font-weight: 400;
}

.text-tooltip {
font-family: "PT Sans", "Arial", sans-serif;
font-style: normal;
font-size: 16px;
line-height: 20px; /* 125% */
font-weight: 400;
}

.text-micro {
font-family: "PT Sans", "Arial", sans-serif;
font-style: normal;
font-size: 10px;
line-height: 10px; /* 100% */
font-weight: 400;
text-align: center;
}
