body {
  background-color: var(--forms-elements-2);
  margin: 0;
}

.page-content-container {
  background-color: var(--background-basic-2);
  width: 1200px;
  height: auto;
}

.icon {
  fill: var(--icons-basic);
}



/* hero */

.hero {
  width: 100%;
  height: 484px;
  background-image: url(../images/background/hero-image.jpg);
  background-size: cover;
}



/* Advantages */

.advantages-list-image {
  object-fit: cover;
  display: block;
}



/* subscribe */

.subscribe {
  width: 100%;
  height: 414px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-size: cover;
}


/* inner-header */

.inner-header {
  width: 100%;
  height: 412px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-size: cover;
}
