body {
  font-family: "PT Sans", "Arial", sans-serif;
  color: var(--texts-texts-basic);
  background-color: var(--forms-elements-2);
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Раскомментировать когда вся графика будет отображаться
.visually-hidden {
  visibility: hidden;
}
*/

.page-content-container {
  background-color: var(--background-basic-2);
  width: 1200px;
  height: auto;
  margin: auto;
  box-shadow: rgb(0 0 0 / 0.2) 0 0 15px 0;
}

.icon {
  fill: var(--icons-basic);
}



/* hero */


.hero {
  width: 100%;
  height: auto;
  background-image: url(../images/background/hero-image.jpg);
  background-size: cover;
}



/* advantages */


.advantages-list-image {
  height: 384px;
  object-fit: cover;
}



/* subscribe */


.subscribe {
  width: 100%;
  height: 414px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-size: cover;
}



/* inner-header */


.inner-header {
  width: 100%;
  height: 412px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-size: cover;
}
