*,
*::before,
*::after {
 box-sizing: border-box;
 transition-duration: 180ms;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-primary);
  background-color: var(--main-gray);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.page-content-container {
  position: relative;
  width: 1200px;
  height: auto;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 120px;
  background-color: var(--main-primary);
  box-shadow: rgb(0 0 0 / 0.2) 0 0 15px 0;
}

.icon {
  fill: var(--icon-primary);
}

.container {
  padding: 0 70px;
}


/* title-caption - заголовок + подпись */


.title-caption {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--text-primary);
}

.title-caption .text-basic {
  color: var(--text-secondary);
}

.title-caption-invert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--text-primary-invert);
}

.title-caption-invert .text-basic {
  color: var(--text-primary-invert);
}


/* page-header */


.page-header {
  height: 64px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  height: 64px;
}

.navigation-primary { /* navigation-primary */
  position: relative;
  display: flex;
  gap: 30px;
  padding-left: 168px;
}

.navigation-logo:link {
  position: absolute;
  left: 0;
  z-index: 1;
  outline: none;
}

.navigation-list {
  display: flex;
}

.navigation-link:link {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 20px 16px 0 16px;
  color: var(--text-primary);
  outline: none;
}

.navigation-link:visited {
  color: var(--text-primary);
}

.navigation-link:hover {
  color: var(--text-primary-hover);
}

.navigation-link:active {
  color: var(--text-primary-hover);
}

.navigation-link:focus-visible {
  color: var(--text-primary-hover);
}

.default::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: none;
}

.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--text-primary-hover);
}

.navigation-secondary { /* navigation-secondary */
  display: flex;
  gap: 20px;
}

.navigation-icons {
  display: flex;
}

.navigation-menu-item {
  position: relative;
}

.navigation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 64px;
  outline: none;
}

.navigation-icon:link .icon {
  fill: var(--icon-primary);
}

.navigation-icon:visited .icon {
  fill: var(--icon-primary);
}

.navigation-icon:hover .icon {
  fill: var(--icon-primary-hover);
}

.navigation-icon:active .icon {
  fill: var(--icon-primary-active);
}

.navigation-icon:focus-visible .icon {
  fill: var(--icon-primary-hover);
}

.navigation-counter {
  position: absolute;
  top: 11px;
  right: 4px;
  padding: 5px;
  color: var(--text-primary-invert);
  background-color: var(--main-green);
  border-radius: 10px;
}

.navigation-controls {
  display: flex;
  align-items: center;
  height: 64px;
}


/* hero */


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 51px 0 82px 0;
  background-image: url(../images/background/hero-image.jpg);
  background-color: var(--main-light);
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 88%, 79% 93%, 79% 88%, 50% 100%, 21% 88%, 21% 93%, 0 88%, 0 0);
}

.hero-image {
  width: 458px;
}


/* advantages */


.advantages-grid { /* первая сетка с преимуществами */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.advantages-wrapper { /* обертка базовая белая */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  padding: 102px 16px;
  color: var(--text-primary);
  background-color: var(--main-primary);
}

.advantages-wrapper-icon { /* вариация обертки с иконкой внутри */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 385px;
  padding: 80px 16px;
  color: var(--text-primary);
  background-color: var(--main-primary);
}

.advantages-wrapper-content { /* контейнер для контента */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 230px;
  text-align: center;
}

.advantages-wrapper-icon .advantages-wrapper-content { /* контейнер для контента с иконкой */
  gap: 26px;
}

.wrapper-grey { /* цвет обертки серый */
  background-color: var(--main-light);
}

.wrapper-light-grey { /* цвет обертки светло-серый */
  background-color: var(--main-extra-light);
}

.wrapper-blue { /* цвет обертки голубой */
  color: var(--text-primary-invert);
  background-color: var(--main-blue);
}

.advantages-wrapper-content .text-blocks { /* цвет подписи */
  color: var(--text-secondary);
}

.wrapper-blue .text-blocks { /* цвет подписи голубой обертки */
  color: var(--text-primary-invert);
}

.advantages h3 { /* заголовок + разделитель */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 29px;
}

.advantages-first-grid h3::after { /* разделитель */
  content: "";
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 30%;
}

.advantages-wrapper-content .icon { /* иконка */
  margin-bottom: -6px;
  fill: var(--icon-secondary);
}

.advantages-image {
  width: 100%;
  height: 100%;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.first-advantages-image {
  grid-column: 2/4;
  background-image: url(../images/background/sedona-house.jpg);
  background-color: var(--main-extra-light);
}

.second-advantages-image {
  grid-column: 1/3;
  background-image: url(../images/background/canyon.jpg);
  background-color: var(--main-extra-light);
}

.advantage-housing { /* special size */
  max-width: 192px;
}


/* promo */


.promo { /* промо-заголовок + описание */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
  min-height: 246px;
}

.promo-special { /* промоблок под hero */
  padding: 64px 16px 92px 16px ;
}

.promo .title-caption { /* контейнер с текстом в промоблоке */
  max-width: 656px;
}

.promo-special .title-caption { /* увеличенный гэп для текста */
  gap: 28px;
}


/* hotel-search */


.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
  min-height: 406px;
  padding: 96px 16px;
}

.hotel-search .title-caption {
  max-width: 656px;
}


/* subscribe */


.subscribe { /* контейнер */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  min-height: 414px;
  padding: 96px 16px 104px 16px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-color: var(--field-placeholder-primary);
  background-size: cover;
  background-position: center;
}

.subscribe-transparent { /* контейнер без фона */
  background-image: none;
  background-color: var(--main-primary);
}

.subscribe .title-caption,
.subscribe .title-caption-invert {
  max-width: 476px;
}

.subscribe-form { /* поле + кнопка */
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 684px;
}

.subscribe .subscribe-email-field { /* поле */
  width: 100%;
}

.subscribe .button { /* кнопка */
  border-radius:  0 4px 4px 0;
}


/* inner-header */


.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 35px 70px 70px;
  color: var(--text-primary-invert);
  background-image: url(../images/background/canyon-blur-2.jpg);
  background-color: var(--field-placeholder-primary);
  background-size: cover;
}

.inner-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* filters */


.filter-form { /* блок с фильтрами */
  display: flex;
  justify-content: space-between;
}

.filter-form-group { /* fieldset */
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 40px 0 0;
  padding: 0;
  border: 0;
}

.filter-type { /* filter-type */
  margin-right: 118px;
}

.filter-cost { /* блок со стоимостью */
 max-width: 288px;
}

.filter-form-list { /* fieldset list */
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.filter-form-title { /* fieldset title */
  margin-bottom: 32px;
  padding: 0;
}


/* поля от до */


.range-fields { /* группа полей-счетчиков */
  display: inline-flex;
  gap: 2px;
  width: 288px;
  border-radius: 4px;
}

.input-field-range { /* поле-счетчик + лейбл */
  position: relative;
  display: flex;
  width: 143px;
  align-items: center;
}

.input-field-range .field {
  display: inline-block;
  width: 100%;
  padding-right: 48px;
}

.range-field-label { /* лейбл для поля-счетчика */
  position: absolute;
  right: 20px;
  color: var(--field-placeholder-secondary);
}

.input-field-range .first-range-field { /* скругления первого поля-счетчика */
  border-radius: 4px 0 0 4px;
}

.input-field-range .second-range-field { /* скругления первого поля-счетчика */
  border-radius: 0 4px 4px 0;
}


/* filter-controls */


.filter-form-controls { /* контролы фильтров */
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  padding-top: 56px;
}


/* listing */


.listing { /* настройка отображения + плитки + пагинация */
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 50px 70px 60px 70px;
}


/* catalog-settings */


.catalog-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-sort {
  display: flex;
  gap: 70px;
}
.catalog-view-list {
  display: flex;
  gap: 8px;
}


/* catalog-products */


.products { /* сетка карточек + разделитель */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-list { /* сетка карточек */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.products::after { /* разделитель под выдачей */
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-secondary);
}


/* product-item */


.product-item { /* карточка */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 19px;
  background-color: var(--main-primary);
  border: 1px solid var(--main-secondary);
  border-radius: 4px;
}

.product-item .product-item-image {
  width: 100%;
  background-color: var(--main-light);
}

.product-item-parameters { /* блок с параметрами */
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product-item-actions { /* кнопки */
  display: flex;
  gap: 20px;
}

.product-item-actions .button {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
}

.rating { /* звезды + рейтинг */
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating-star-list { /* список звезд */
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.rating-star .icon { /* иконка звезды */
  fill: var(--icon-secondary);
  display: block;
}

.star-not-active { /* скрытая звезда */
  display: none;
}

.rating-value { /* звезды и рейтинг */
  width: 100%;
  padding: 8px 0;
  text-align: center;
  background-color: var(--main-gray);
  border-radius: 4px;
}


/* catalog-pagination */


.pagination-list {
  display: flex;
  gap: 8px;
}


/* footer */


.page-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 45px 70px 35px 70px;
}

.social-list {
  display: flex;
  min-width: 142px;
  height: 40px;
}

.social-item {
  width: 100%;
  height: 100%;
}

.social-button { /* контейнер с иконкой соц. сети */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: none;
}

.social-button:link .icon { /* ссылка на соц. сеть */
  fill: var(--icon-secondary);
}

.social-button:visited .icon {
  fill: var(--icon-secondary);
}

.social-button:hover .icon {
  fill: var(--icon-secondary-hover);
}

.social-button:active .icon {
  fill: var(--icon-secondary-active);
}

.social-button:focus-visible .icon {
  fill: var(--icon-secondary-hover);
}

.footer-phone:link { /* телефон */
  min-width: 332px;
  color: var(--text-primary);
  outline: none;
}

.footer-phone:visited {
  color: var(--text-primary);
}

.footer-phone:hover {
  color: var(--text-primary-hover);
}

.footer-phone:active {
  color: var(--text-primary-active);
}

.footer-phone:focus-visible {
  color: var(--text-primary-hover);
}

.footer-logo {
  margin-top: 4px;
}

.footer-logo .icon {
  display: flex;
}

.footer-logo {
  outline: none;
}

.footer-logo:link .icon {  /* ссылка на сайт Html academy */
  display: flex;
}

.footer-logo:visited .icon {
  fill: var(--icon-primary);
}

.footer-logo:hover .icon {
  fill: var(--icon-primary-hover);
}

.footer-logo:active .icon {
  fill: var(--icon-primary-active);
}

.footer-logo:focus-visible .icon {
  fill: var(--icon-primary-hover);
}


/* modal */


.modal-container { /* окно с бекдропом */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  z-index: 2;
}

.modal { /* диалоговое окно */
  position: relative;
  width: 716px;
  margin: auto;
  padding: 64px 70px;
  background-color: var(--main-primary);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 var(--modal-shadow);
}

.modal-container-active { /* класс, скрывающий окно */
  display: flex;
}


/* modal form */


.modal header { /* шапка модального окна */
  margin-bottom: 64px;
}

.modal-footer { /* футер модального окна */
  margin-top: 48px;
}

.modal-footer .button { /* CTA в футере */
  width: 100%;
}

.hotel-search-form-fields { /* сетка полей */
  display: grid;
  grid-template-columns: 119px 110px 1fr 110px;
  grid-template-rows: repeat(3, auto);
  align-items: baseline;
  justify-items: stretch;
  row-gap: 22px;
  column-gap: 18px;
}

.grid-cell-right-align { /* выравнивает контент ячейки по правому краю */
  justify-self: right;
  align-self: center;
}

.hotel-search-form-fields .input-field-caption { /* поля тянутся на несколько колонок */
  grid-column: 2/5;
}

.hotel-search-form-fields .form-label { /* выравнивает лейблы в форме по вертикали */
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  min-height: 48px;
  padding-top: 13px;
}

.label-icon {
  display: flex;
}
