*,
*::before,
*::after {
 box-sizing: border-box;
 transition-duration: 180ms;
}

body {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: var(--text-primary);
  background-color: var(--main-gray);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.page-content-container {
  position: relative;
  width: 1200px;
  height: auto;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 120px;
  background-color: var(--main-primary);
  box-shadow: rgb(0 0 0 / 0.2) 0 0 15px 0;
}

.icon {
  fill: var(--icon-primary);
}

.container {
  padding: 0 70px;
}






/* colors */


:root{

  /* main */

  --main-primary: #ffffff;
  --main-secondary: #e6e6e6;
  --main-light:rgba(131, 179, 211, 0.2);
  --main-extra-light:rgba(131, 179, 211, 0.12);

  --main-brown:#756157;
  --main-brown-hover: #615048;

  --main-blue:#82b3d3;
  --main-blue-hover:#68a2ca;

  --main-green:#7db54f;
  --main-green-hover:#6c9e42;

  --main-gray: #f2f2f2;
  --main-gray-hover: #e6e6e6;

  --main-disabled: #e5e5e5;

  --main-dark: #333333;

  /* text */

  --text-primary:#000000;
  --text-secondary:#333333;

  --text-primary-invert:#ffffff;
  --text-secondary-invert:rgba(255, 255, 255, 0.6);
  --text-tertiary-invert:rgba(255, 255, 255, 0.3);

  --text-primary-hover:#756157;
  --text-primary-active:rgba(117, 97, 87, 0.3);
  --text-primary-focus:#756157;

  --text-error:#ff5757;

  /* icon */

  --icon-primary:#000000;
  --icon-primary-hover:#756157;
  --icon-primary-active:rgba(117, 97, 87, 0.3);
  --icon-primary-focus:#756157;
  --icon-tertiary: rgba(0, 0, 0, 0.3);

  --icon-secondary:#83b3d3;
  --icon-secondary-hover:#68a2ca;
  --icon-secondary-active:rgba(104, 162, 202, 0.3);
  --icon-secondary-focus:#68a2ca;

  --icon-primary-invert: #ffffff;

  /* controls */

  --field-placeholder-primary: rgba(0, 0, 0, 0.6);
  --field-placeholder-secondary: rgba(0, 0, 0, 0.3);
  --buttons-disabled:#e5e5e5;

  /* extra */

  --focus: #83b3d3;
  --backdrop: rgba(242, 242, 242, 0.8);
  --range: rgba(255, 255, 255, 0.3);
  --modal-shadow: rgba(0, 0, 0, 0.15);
}




/* fonts */


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}


/* font styles - headings */


.heading-1 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 60px;
  line-height: 78px; /* 130% */
  font-weight: 700;
}

.heading-2 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 30px;
  line-height: 36px; /* 120% */
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
  font-weight: 700;
  text-transform: uppercase;
}

.heading-3-non-case {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px; /* 116.667% */
  font-weight: 700;
}

.heading-4 {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px; /* 120% */
  font-weight: 700;
}


/* font styles - inputs */


.text-button-big {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 36px; /* 180% */
  font-weight: 700;
  text-transform: uppercase;
}

.text-button-small {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 700;
  text-transform: uppercase;
}

.text-button-like-normal {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 400;
  text-transform: uppercase;
}

.text-button-like-nonecase {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 400;
}

.text-checkbox {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 127.778% */
  font-weight: 400;
}

.text-input {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
  font-weight: 700;
}


/* font styles - text */


.text-phone {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 40px;
  line-height: 40px; /* 100% */
  font-weight: 400;
  text-transform: uppercase;
}

.text-blocks {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px; /* 116.667% */
  font-weight: 400;
}

.text-small {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 21px; /* 131.25% */
  font-weight: 400;
}

.text-basic {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px; /* 118.182% */
  font-weight: 400;
}

.text-input-light {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px; /* 133.333% */
  font-weight: 400;
}

.text-tooltip {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-weight: 400;
}

.text-micro {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 10px; /* 100% */
  font-weight: 400;
  text-align: center;
}




/* pages styles */


/* title-caption - заголовок + подпись */


.title-caption {
  display: flex;
  flex-direction: column;
  gap: 21px;
  text-align: center;
  color: var(--text-primary);
}

.title-caption .text-basic {
  color: var(--text-secondary);
}

.title-caption-invert {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: var(--text-primary-invert);
}

.title-caption-invert .text-basic {
  color: var(--text-primary-invert);
}


/* page-header */


.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-primary { /* navigation-primary */
  position: relative;
  display: flex;
  gap: 30px;
  padding-left: 168px;
}

.navigation-logo:link {
  position: absolute;
  left: 0;
  text-decoration: none;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link:link {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 0 -1px 0;
  padding: 19px 16px 0 16px;
  color: var(--text-primary);
  text-decoration: none;
}

.navigation-link:visited {
  color: var(--text-primary);
}

.navigation-link:hover {
  color: var(--text-primary-hover);
}

.navigation-link:active {
  color: var(--text-primary-hover);
}

.navigation-link:focus-visible {
  color: var(--text-primary-hover);
}

.default::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: none;
}

.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--text-primary-hover);
}

.navigation-secondary { /* navigation-secondary */
  display: flex;
  gap: 19px;
  height: 64px;
  min-width: fit-content;
}

.navigation-icons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-menu-item {
  position: relative;
}

.navigation-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 64px;
}

.navigation-icon:link .icon {
  fill: var(--icon-primary);
}

.navigation-icon:visited .icon {
  fill: var(--icon-primary);
}

.navigation-icon:hover .icon {
  fill: var(--icon-primary-hover);
}

.navigation-icon:active .icon {
  fill: var(--icon-primary-active);
}

.navigation-icon:focus-visible .icon {
  fill: var(--icon-primary-hover);
}

.navigation-counter {
  position: absolute;
  top: 11px;
  right: 4px;
  padding: 5px;
  color: var(--text-primary-invert);
  background-color: var(--main-green);
  border-radius: 10px;
}

.navigation-controls {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 64px;
}


/* hero */


.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 51px 0 82px 0;
  background-image: url(../images/background/hero-image.jpg);
  background-color: var(--main-light);
  background-size: cover;
  background-position: center;
  clip-path: polygon(100% 0, 100% 88%, 79% 93%, 79% 88%, 50% 100%, 21% 88%, 21% 93%, 0 88%, 0 0);
}

.hero-image {
  width: 458px;
}


/* advantages */


.advantages-grid { /* первая сетка с преимуществами */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-wrapper { /* обертка базовая белая */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  padding: 102px 16px;
  color: var(--text-primary);
  background-color: var(--main-primary);
}

.advantages-wrapper-icon { /* вариация обертки с иконкой внутри */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 385px;
  padding: 72px 16px;
  color: var(--text-primary);
  background-color: var(--main-primary);
}

.advantages-wrapper-content { /* контейнер для контента */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  max-width: 230px;
  text-align: center;
}

.advantages-wrapper-icon .advantages-wrapper-content { /* контейнер для контента с иконкой */
  gap: 31px;
}

.wrapper-grey { /* цвет обертки серый */
  background-color: var(--main-light);
}

.wrapper-light-grey { /* цвет обертки светло-серый */
  background-color: var(--main-extra-light);
}

.wrapper-blue { /* цвет обертки голубой */
  color: var(--text-primary-invert);
  background-color: var(--main-blue);
}

.advantages-wrapper-content .text-blocks { /* цвет подписи */
  color: var(--text-secondary);
}

.wrapper-blue .text-blocks { /* цвет подписи голубой обертки */
  color: var(--text-primary-invert);
}

.advantages h3 { /* заголовок + разделитель */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 29px;
}

.advantages-first-grid h3::after { /* разделитель */
  content: "";
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 30%;
}

.advantages-wrapper-content .icon { /* иконка */
  margin-bottom: -6px;
  fill: var(--icon-secondary);
}

.advantages-image {
  width: 100%;
  height: 100%;
  padding: 0;
  background-size: cover;
  background-position: center;
}

.first-advantages-image {
  grid-column: 2/4;
  background-image: url(../images/background/sedona-house.jpg);
  background-color: var(--main-extra-light);
}

.second-advantages-image {
  grid-column: 1/3;
  background-image: url(../images/background/canyon.jpg);
  background-color: var(--main-extra-light);
}

.advantage-housing { /* special size */
  max-width: 192px;
}


/* promo */


.promo { /* промо-заголовок + описание */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 62px 16px 64px 16px;
}

.promo-special { /* промоблок под hero */
  padding: 67px 16px 89px 16px ;
}

.promo .title-caption { /* контейнер с текстом в промоблоке */
  max-width: 656px;
}

.promo-special .title-caption { /* увеличенный гэп для текста */
  gap: 28px;
}


/* hotel-search */


.hotel-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 54px;
  min-height: 406px;
  padding: 96px 16px;
}

.hotel-search .title-caption {
  max-width: 656px;
}


/* subscribe */


.subscribe { /* контейнер */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  min-height: 414px;
  padding: 94px 16px 104px 16px;
  background-image: url(../images/background/canyon-blur-1.jpg);
  background-color: var(--field-placeholder-primary);
  background-size: cover;
  background-position: center;
}

.subscribe-transparent { /* контейнер без фона */
  background-image: none;
  background-color: var(--main-primary);
}

.subscribe .title-caption,
.subscribe .title-caption-invert {
  max-width: 476px;
}

.subscribe-form { /* поле + кнопка */
  display: flex;
  gap: 0;
  width: 100%;
  max-width: 684px;
}

.subscribe .subscribe-email-field { /* поле */
  width: 100%;
}

.subscribe .button { /* кнопка */
  border-radius:  0 4px 4px 0;
}


/* inner-header */


.catalog-header {
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 35px 70px 70px;
  color: var(--text-primary-invert);
  background-image: url(../images/background/canyon-blur-2.jpg);
  background-color: var(--field-placeholder-primary);
  background-size: cover;
}

.inner-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


/* filters */


.filter-form { /* блок с фильтрами */
  display: flex;
  justify-content: space-between;
}

.filter-form-group { /* fieldset */
  display: flex;
  flex-direction: column;
  gap: 44px;
  margin: 0 40px 0 0;
  padding: 0;
  border: 0;
}

.filter-type { /* filter-type */
  margin-right: 120px;
}

.filter-cost { /* блок со стоимостью */
 max-width: 288px;
}

.filter-form-list { /* fieldset list */
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter-form-title { /* fieldset title */
  margin-bottom: 32px;
  padding: 0;
}


/* поля от до */


.range-fields { /* группа полей-счетчиков */
  display: inline-flex;
  gap: 2px;
  width: 288px;
  border-radius: 4px;
}

.input-field-range { /* поле-счетчик + лейбл */
  position: relative;
  display: flex;
  width: 143px;
  align-items: center;
}

.input-field-range .field {
  display: inline-block;
  width: 100%;
  padding-right: 48px;
}

.range-field-label { /* лейбл для поля-счетчика */
  position: absolute;
  right: 20px;
  color: var(--field-placeholder-secondary);
}

.input-field-range .first-range-field { /* скругления первого поля-счетчика */
  border-radius: 4px 0 0 4px;
}

.input-field-range .second-range-field { /* скругления первого поля-счетчика */
  border-radius: 0 4px 4px 0;
}


/* filter-controls */


.filter-form-controls { /* контролы фильтров */
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 191px;
  padding-top: 56px;
}


/* listing */


.listing { /* настройка отображения + плитки + пагинация */
  display: flex;
  flex-direction: column;
  gap: 39px;
  padding: 50px 70px 60px 70px;
}


/* catalog-settings */


.catalog-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-sort {
  display: flex;
  gap: 70px;
}
.catalog-view-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* catalog-products */


.products { /* сетка карточек + разделитель */
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.product-list { /* сетка карточек */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products::after { /* разделитель под выдачей */
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--main-secondary);
}


/* product-item */


.product-item { /* карточка */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px 19px;
  background-color: var(--main-primary);
  border: 1px solid var(--main-secondary);
  border-radius: 4px;
}

.product-item .product-item-image {
  width: 100%;
  background-color: var(--main-light);
  object-fit: cover;
}

.product-item-parameters { /* блок с параметрами */
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.product-item-actions { /* кнопки */
  display: flex;
  gap: 20px;
}

.product-item-actions .button {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px;
  text-decoration: none;
}

.rating { /* звезды + рейтинг */
  display: flex;
  align-items: center;
  gap: 20px;
}

.rating-star-list { /* список звезд */
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin: 4px 0 0 -1px;
  padding: 0;
  list-style-type: none;
}

.rating-star .icon { /* иконка звезды */
  fill: var(--icon-secondary);
  display: block;
}

.star-not-active { /* скрытая звезда */
  display: none;
}

.rating-value { /* звезды и рейтинг */
  width: 100%;
  padding: 8px 0;
  text-align: center;
  background-color: var(--main-gray);
  border-radius: 4px;
}


/* catalog-pagination */


.pagination-list {
  display: flex;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* footer */


.page-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 45px 70px 35px 70px;
}

.social-list {
  display: flex;
  margin: 3px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.social-item {
  width: 100%;
  height: 100%;
}

.social-button { /* контейнер с иконкой соц. сети */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 40px;
  outline: none;
}

.social-button:link .icon { /* ссылка на соц. сеть */
  fill: var(--icon-secondary);
}

.social-button:visited .icon {
  fill: var(--icon-secondary);
}

.social-button:hover .icon {
  fill: var(--icon-secondary-hover);
}

.social-button:active .icon {
  fill: var(--icon-secondary-active);
}

.social-button:focus-visible .icon {
  fill: var(--icon-secondary-hover);
}

.footer-phone:link { /* телефон */
  min-width: 332px;
  color: var(--text-primary);
  text-decoration: none;
  outline: none;
}

.footer-phone:visited {
  color: var(--text-primary);
}

.footer-phone:hover {
  color: var(--text-primary-hover);
}

.footer-phone:active {
  color: var(--text-primary-active);
}

.footer-phone:focus-visible {
  color: var(--text-primary-hover);
}

.footer-logo {
  margin-top: 4px;
  outline: none;
}

.footer-logo .icon {
  display: flex;
}

.footer-logo:link .icon {  /* ссылка на сайт Html academy */
  display: flex;
}

.footer-logo:visited .icon {
  fill: var(--icon-primary);
}

.footer-logo:hover .icon {
  fill: var(--icon-primary-hover);
}

.footer-logo:active .icon {
  fill: var(--icon-primary-active);
}

.footer-logo:focus-visible .icon {
  fill: var(--icon-primary-hover);
}


/* modal */


.modal-container { /* окно с бекдропом */
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop);
  z-index: 2;
}

.modal { /* диалоговое окно */
  position: relative;
  width: 716px;
  margin: auto;
  padding: 62px 70px;
  background-color: var(--main-primary);
  border-radius: 30px;
  box-shadow: 0 25px 50px 0 var(--modal-shadow);
}

.modal-container-active { /* класс, скрывающий окно */
  display: flex;
}


/* modal form */


.modal header { /* шапка модального окна */
  margin-bottom: 66px;
  margin-right: 64px;
}

.modal-footer { /* футер модального окна */
  margin-top: 48px;
}

.modal-footer .button { /* CTA в футере */
  width: 100%;
}

.hotel-search-form-fields { /* сетка полей */
  display: grid;
  grid-template-columns: 119px 110px 1fr 110px;
  grid-template-rows: repeat(3, auto);
  align-items: baseline;
  justify-items: stretch;
  row-gap: 24px;
  column-gap: 18px;
}

.grid-cell-right-align { /* выравнивает контент ячейки по правому краю */
  justify-self: right;
  align-self: center;
}

.hotel-search-form-fields .input-field-caption { /* поля тянутся на несколько колонок */
  grid-column: 2/5;
}

.hotel-search-form-fields .form-label { /* выравнивает лейблы в форме по вертикали */
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  min-height: 48px;
  padding-top: 11px;
}

.label-icon {
  display: flex;
}




/* controls */


/* button */


/*
Текстовые стили
button-600: text-button-big
button-500: text-button-big
button-400: text-button-small
button-pagination: text-button-big
*/

.button {  /* кнопка, базовые параметры */
  text-align: center;
  color: var(--text-primary-invert);
  border: 3px solid transparent;
  outline: none;
}

.button-600 { /* размер большой */
  padding: 9px 47px;
  border-radius: 10px;
  min-width: fit-content;
}

.button-500 {  /* размер средний */
  padding: 5px 47px;
  border-radius: 4px;
  min-width: fit-content;
}

.button-400 {  /* размер маленький */
  padding: 5px 32px;
  border-radius: 4px;
  min-width: fit-content;
}

.button:active { /* текст светлеет при нажатии */
  color: var(--text-tertiary-invert);
}

.button-blue { /* стиль голубой */
  background-color: var(--main-blue);
}

.button-blue:hover {
  background-color: var(--main-blue-hover);
  cursor: pointer;
}

.button-blue:active {
  background-color: var(--main-blue);
}

.button-blue:focus {
  background-color: var(--main-blue-hover);
}

.button-blue:focus-visible {
  background-color: var(--main-blue-hover);
}

.button-blue:disabled {
  background-color: var(--buttons-disabled);
}

.button-brown { /* стиль коричневый */
  background-color: var(--main-brown);
}

.button-brown:hover {
  background-color: var(--main-brown-hover);
  cursor: pointer;
}

.button-brown:active {
  background-color: var(--main-brown);
  border: 3px solid transparent;
}

.button-brown:focus {
  background-color: var(--main-brown-hover);
}

.button-brown:focus-visible {
  background-color: var(--main-brown-hover);
}

.button-brown:disabled {
  background-color: var(--buttons-disabled);
}

.button-green { /* стиль зеленый */
  background-color: var(--main-green);
}

.button-green:hover {
  background-color: var(--main-green-hover);
  cursor: pointer;
}

.button-green:active {
  background-color: var(--main-green);
}

.button-green:focus {
  background-color: var(--main-green-hover);
}

.button-green:focus-visible {
  background-color: var(--main-green-hover);
}

.button-green:disabled {
  background-color: var(--buttons-disabled);
}

.button-transparent-invert { /* стиль прозрачный */
  background-color: transparent;
}

.button-transparent-invert:hover {
  opacity: 60%;
  cursor: pointer;
}

.button-transparent-invert:active {
  color: var(--text-tertiary-invert);
}

.button-transparent-invert:focus-visible {
  border: 3px solid var(--main-blue);
}

.button-transparent-invert:disabled {
  opacity: 10%;
}


/* modal-close-button */


.modal-close-button { /* кнопка закрытия модального окна */
  position: absolute;
  top: 65px;
  right: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  padding: 0;
  background-color: var(--main-gray);
  border: 3px solid transparent;
  border-radius: 50%;
  outline: none;
}

.modal-close-button:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.modal-close-button:focus {
  background-color: var(--main-gray-hover);
}

.modal-close-button:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.modal-close-button:active .icon {
  opacity: 30%;
}

.modal-close-button .icon {
  fill: var(--icon-primary);
}


/* pagination */


.button-pagination { /* размер для пагинации */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: var(--text-primary);
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

.button-pagination:hover {
  cursor: pointer;
}

.button-pagination-grey { /* стиль серый */
  background-color: var(--main-gray);
  outline: none;
}

.button-pagination-white { /* стиль белый */
  background-color: var(--main-primary);
}

.button-pagination-blue { /* стиль голубой */
  color: var(--text-primary-invert);
  background-color: var(--main-blue);
  outline: none;
}

.button-pagination-blue:hover {
  background-color: var(--main-blue-hover);
  border: 1px solid var(--main-blue);
}

.button-pagination-blue:active {
  background-color: var(--main-blue);
  color: var(--text-tertiary-invert);
}

.button-pagination-blue:focus-visible {
  background-color: var(--main-blue-hover);
  border: 1px solid var(--main-blue);
}

.button-pagination:disabled {
  opacity: 50%;
}


/* breadcrumbs */


.breadcrumbs { /* контейнер с крошками */
  display: flex;
  align-items: center;
  gap: 10px;
  height: 22px;
  margin: 0 0 0 -3px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link .icon { /* иконка в хлебных крошках */
  display: flex;
  fill: var(--text-primary-invert);
}

.breadcrumbs-link:link { /* ссылка-текст */
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-primary-invert);
  text-decoration: none;
  outline: none;
}

.breadcrumbs-link:visited {
  color: var(--text-primary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover,
.breadcrumbs-item:not(:last-child) .breadcrumbs-link:hover .icon {
  color: var(--text-secondary-invert);
  fill: var(--text-secondary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active,
.breadcrumbs-item:not(:last-child) .breadcrumbs-link:active .icon {
  color: var(--text-tertiary-invert);
  fill: var(--text-tertiary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link:focus-visible,
.breadcrumbs-item:not(:last-child) .breadcrumbs-lin:focus-visible .icon {
  color: var(--text-primary-invert);
  fill: var(--text-primary-invert);
}

.breadcrumbs-item:not(:last-child) .breadcrumbs-link::after { /* стрелка вправо после ссылки */
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 20px;
  background-image: url(../images/vector/icons/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  fill: var(--icon-primary-invert);
  cursor: default;
}

.breadcrumbs-page-name { /* выравнивает текст отноистельно иконок */
  margin-bottom: 1px;
}

.breadcrumbs-item:last-child .breadcrumbs-link:hover { /* последняя ссылка c курсором стрелкой */
  cursor: default;
}


/* tabs */


.tab:link { /* неактивный пункт */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--main-primary);
  border: 2px solid var(--main-disabled);
  border-radius: 4px;
  text-decoration: none;
  outline: none;
}

.tab:visited {
  border: 2px solid var(--main-disabled);
}

.tab:hover {
  border: 2px solid var(--icon-primary);
}

.tab:active {
  border: 2px solid var(--icon-primary);
}

.tab:focus-visible {
  border: 2px solid var(--icon-secondary-hover);
}

.tab:disabled {
  opacity: 50%;
}

.tab-current { /* активный пункт */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--main-primary);
  border: 2px solid var(--icon-primary);
  border-radius: 4px;
  outline: none;
}

.tab-current:hover {
  border: 2px solid var(--icon-primary);
}

.tab-current:active {
  border: 2px solid var(--icon-primary);
}

.tab-current:focus-visible {
  border: 2px solid var(--icon-secondary-hover);
}

.tab-current:disabled {
  opacity: 50%;
}


/* label */


label:hover { /* лапка на лейбле формы */
  cursor: pointer;
}


/* control - чекбокс/радио + лэйбл */


.control {
  cursor: pointer;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}


/* checkbox */


.custom-checkbox { /* скрывает нативный чекбокс */
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label-control { /* контейнер с кастонмым чекбоксом (псевдо элементом) и лейблом */
  display: flex;
  align-items: center;
  gap: 16px;
}

/* кастомный чекбокс */

/* default */

.custom-checkbox + .label-control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  background-position: center;
  border: 2px solid transparent;
  border-radius: 4px;
  outline: none;
}

.custom-checkbox:hover + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-checkbox:focus + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-checkbox:focus-visible + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-checkbox:active + .label-control::before {
  box-shadow: 0 7px 15px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-checkbox:disabled + .label-control::before {
  opacity: 50%;
}

/* checked */

.custom-checkbox:checked + .label-control::before {
  background-image: url(../images/vector/icons/confirm.svg);
}

.custom-checkbox:checked:disabled + .label-control::before {
  opacity: 50%;
}


/* radio */


.custom-radio { /* скрывает нативный радио */
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label-control { /* контейнер с кастонмым чекбоксом (псевдо элементом) и лейблом */
  display: flex;
  align-items: center;
  gap: 16px;
}

/* кастомный radio */

/* default */

.custom-radio + .label-control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  background-position: center;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
}

.custom-radio:hover + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-radio:focus + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
}

.custom-radio:focus-visible + .label-control::before {
  box-shadow: 0 4px 10px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-radio:active + .label-control::before {
  box-shadow: 0 7px 15px 0 var(--icon-tertiary);
  border: 2px solid var(--main-blue);
}

.custom-radio:disabled + .label-control::before {
  opacity: 50%;
}

/* checked */

.custom-radio:checked + .label-control::before {
  background-image: url(../images/vector/icons/circle.svg);
}

.custom-radio:checked:disabled + .label-control::before {
  opacity: 50%;
}


/* input field */


/*
Текстовые стили
filled: text-input
*/


.field { /* поле, базовые параметры */
  height: 48px;
  margin: 0;
  padding: 9px 15px 9px 17px;
  color: var(--text-primary);
  background-color: var(--main-gray);
  border-radius: 4px;
  border: 3px solid transparent;
  outline: none;
}

.field:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.field:focus {
  background-color: var(--main-gray-hover);
}

.field:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.field:disabled {
  background-color: var(--main-gray);
  opacity: 50%;
}

.field:disabled:hover {
  background-color: var(--main-gray);
  opacity: 50%;
}

.field::placeholder {
  color: var(--text-secondary);
}

.input-field-caption { /* input-field + caption */
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-field-caption-error { /* текст ошибки под полем */
  padding: 0 20px;
  color: var(--text-error);
}

.input-field-caption-caption { /* текст подписи под полем */
  padding: 0 20px;
  color: var(--text-secondary);
}

.input-field-caption-none { /* без подписи под полем */
  display: none;
}


/* input field - subscribe */


.subscribe-email-field { /* поле email, базовые параметры */
  margin: 0;
  padding: 11px 17px;
  color: var(--text-primary);
  background-color: var(--main-gray);
  border-radius: 4px 0 0 4px;
  border: 3px solid transparent;
  outline: none;
}

.subscribe-email-field:hover {
  background-color: var(--main-gray-hover);
  cursor: pointer;
}

.subscribe-email-field:focus {
  background-color: var(--main-gray-hover);
}

.subscribe-email-field:focus-visible {
  background-color: var(--main-gray-hover);
  border: 3px solid var(--main-blue);
}

.subscribe-email-field:disabled {
  background-color: var(--main-gray);
  opacity: 50%;
}

.subscribe-email-field:disabled:hover {
  background-color: var(--main-gray);
  opacity: 50%;
}

.subscribe-email-field::placeholder {
  color: var(--field-placeholder-primary);
}

.subscribe-email-field:invalid::after { /* поле с ошибкой */
  content: 'Текст ошибки';
  color: var(--text-error);
}

.subscribe-email-field:focus:invalid::after {
  content: 'Текст ошибки';
  color: var(--text-error);
}


/* input-date */


/* кастомная иконка календаря */

input[type=date]::-webkit-calendar-picker-indicator {
  display: flex;
  width: 20px;
  height: 20px;
  background-image: url(../images/vector/icons/calendar.svg);
  background-position: center;
  background-repeat: no-repeat;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}


/* select */


.select { /* селект, базовые параметры */
  width: 292px;
  height: 48px;
  margin: 0;
  padding: 0 44px 0 18px;
  color: var(--text-primary);
  background-image: url(../images/vector/icons/discloser.svg);
  background-position: center right 12px;
  background-repeat: no-repeat;
  background-color: var(--main-primary);
  border: 2px solid var(--main-disabled);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  appearance: none;
  -webkit-appearance: none; /* Safari и Chrome */
  -moz-appearance: none; /* Mozilla */
  -ms-appearance: none; /* IE */
}

.select:hover {
  border: 2px solid var(--main-blue);
}

.select:focus {
  border: 2px solid var(--main-disabled);
}

.select:focus-visible {
  border: 2px solid var(--main-blue);
}

.select:focus-visible:hover {
  border: 2px solid var(--main-blue);
}

.select:active {
  border: 2px solid var(--main-disabled);
}

.select:disabled {
  color: var(--field-placeholder-secondary);
  border: 2px solid var(--field-placeholder-secondary);
}


/* input-field-range (input number, работающие совместно с range ) */


/* убирает нативные кнопки из поля */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}


/* input-field-counter (input number, управляемый кнопками плюс и минус) */


.input-field-counter { /* числовое поле + кнопки плюс и минус */
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.input-field-number { /* числовое поле ввода */
  border-radius: 0;
  width: 100%;
  padding: 0;
  text-align: center;
}

.input-number-change-button { /* кнопка плюс или минус */
  display: inline-block;
  width: 40px;
  height: 48px;
  background-color: var(--main-gray);
  border: 2px solid transparent;
  outline: none;
}

.input-number-change-button .icon { /* иконка плюс или минус */
  display: flex;
  width: 22px;
  height: 22px;
  fill: var(--icon-primary-active);
}

.input-number-change-button:hover {
  cursor: pointer;
}

.input-number-change-button:hover .icon {
  fill: var(--icon-primary);
}

.input-number-change-button:focus-visible {
  border: 2px solid var(--focus);
}

.input-number-change-button:focus-visible .icon {
  fill: var(--icon-primary);
}

.input-number-change-button:disabled .icon {
  opacity: 10%;
}


/* tooltip */


.tooltip { /* контейнер со скрытым тултипом */
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-left: 11px;
  margin-right: 28px;
}

.tooltip-toggle { /* кнопка, раскрывающая тултип */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  background-color: var(--main-blue);
  border: none;
  border-radius: 50%;
}

.tooltip-toggle:hover,
.tooltip-toggle:focus {
  background-color: var(--main-blue-hover);
  cursor: pointer;
}

.tooltip-icon { /* иконка в кнопке тултипа */
  width: 20px;
  height: 20px;
  fill: var(--icon-primary-invert);
}

.tooltip-description { /* подсказка */
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  width: 256px;
  margin-top: 15px;
  padding: 18px 18px 24px 22px;
  color: var(--text-primary-invert);
  background-color: var(--main-dark);
  border-radius: 10px;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip:hover .tooltip-description, /* показывает подсказку по наведению */
.tooltip:focus .tooltip-description,
.tooltip:focus-visible .tooltip-description {
  display: block;
  cursor: default;
}

.tooltip-description::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 20px;
  height: 9px;
  background-image: url(../images/vector/icons/tooltip-triangle.svg);
  transform: translateX(-50%);
}


/* input-range */


.range {
  width: 288px;
  height: 4px;
  background-color: var(--range);
}

.range-track {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4px;
  margin-left: 0;
  margin-right: 21%;
  background-color: var(--main-primary);
}

.range-track::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  border-radius: 5px;
  }

.range-track::before:hover {
  cursor: pointer;
}

.range-track::after {
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--main-primary);
  border-radius: 5px;
}

.range-track::after:hover {
  cursor: pointer;
}
